*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative; 
}

main {
    height: 60%;
    width: 60%; 
    background-color: rgba(57, 57, 50, 0.811);
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 auto; 
    padding: 50px;
    gap: 25px;
}

.task-add{
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.task-add input {
    width: 40vw;
    height: 4vh;
    border-radius: 5px;
    border: none;
    padding: 7px;
    background-color: bisque;
    font-size: 16px;

}
.task-add select {
    width: 40vw;
    height: 3.5vh;
    border-radius: 5px;
    border: none;
    padding: 5px; 
    background-color: bisque;
    color: #2e2c2c;
    font-size: 16px;
}

.task-add button {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    background-color: rgba(215, 98, 8, 0.95);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.task-add button:hover{
      background-color: #ed6816;  
      transform: translateY(-2px);  
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.task-add h1 {
    color:  #ed6816; 
}

.task-list {
    width: 80%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
task-list h3{
    color: orangered;
}

.li{
    width: 100%;  
    display: flex;
    justify-content: space-between;
    border: 1 px solid orange;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: bisque;
    color: #6a6a6a;
}

.btns button{
    width: 64px;
    height: 32px;
    border-radius: 100%;
    border: none; 
    color: orange;
    font-weight: bold; 
    margin: 2px; 
}

.edit{
    background-color: rgb(36, 108, 202);
}

.delete {
    background-color: rgb(223, 74, 74);
}
.complete {
    background-color: green;
}

.toggle {
    width: 120px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: wheat;  
}

.btnlight{
	color: rgba(51, 49, 48, 0.81); 
}

.mainlight{ 
    background-color: rgba(244, 222, 208, 0.81)
} 

.edittask { 
     
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; 
    position: absolute;  
    top:0;
    display: none;
    background-color: rgb(0, 0, 0);

} 
.task h4 {
    justify-content: flex-start;
}

.task { 
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.task input {
    width: 50%;
    height: 30px;
    border-radius: 10px; 
    background-color: bisque;
    border: none;
    padding: 10px;

}
.task button {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(215, 98, 8, 0.95);
    color: white;
    cursor: pointer;

}
