*{
    margin:0;
    padding:0;
}
html, body{
    width: 100%;
    height: 100%;
    display: block;
     
} 
.main{ 
    position: relative;
    width: 100%;
    height: 100%; 
}
.nav { 
    position: relative;   
    width: 100%;   
    height: 10%; 
}
.nav-right i {   
    padding: 20px;
    float: right;
    font-size: 40px;  
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color:#FCC60C;    
}
.logo img{ 
    width: 250px;
    height: 150px;
    position: absolute;
    size: 20px;
    z-index: 50;
    padding: 20px;
}
.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #FBE8B3;  
} 

.part1{
    position: absolute;
    height: 100%;
    width: 60%; 
    background-color:#FCC60C;  
}
.part2{
    position: absolute; 
    right: 0;
    height: 100%; 
    width: 40%;  
    background-color: #FBE8B3;     
}
.data {
    position: absolute;
    top: 40%;
    left: 5%;
}
.part1 h1{
    font-size: 100px;
}
.part1 h6{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.part1 p{
    width: 310px; 
    letter-spacing: 1px;
}

.part1 h5{
    font-size: 16px; 
    letter-spacing: 4px;
    margin-top: 10%;
}
.pokemon {
    background-image: url("./pokemon-pokemon-pikachu-png-clipart-thumbnail-removebg-preview.png");
    position: absolute;
    width: 45vw;
    height: 50%;
    top: 30%;
    left: 42%;
    z-index: 14;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}  
.dots { 
    position: absolute;
    margin-right: 30px;   
    top: 35%;
    right: 0;
}
.dots span:nth-child(1){
     background-color: black; 
} 

.dots span {
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: 10px;
    background-color: #FCC60C; 
    border-radius: 50%;   
}